.fond{
    background:linear-gradient(0deg,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)),
    url("/assets/grad4-removebg-preview.png")  center center  /  cover;
    height: 89%!important; 
     position: relative;
     
    // margin-left: auto;
    // margin-right: auto;
  
  
}
ion-modal {
  --height: 75%;
  --border-radius: 16px;
  
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219, 0.253);
  opacity: 1;
}

ion-modal ion-toolbar {
  --background: rgb(14 116 144);
  --color: white;
}




.aller{
    background:  #151921; 
    width: 100%;
    height: 180px;
}
.pp{
    position: relative;
    top: -40px;
    height: 80px;
    width: 100%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: white;
}
ion-button{
    --background: #d6290b;
}
.cds{
    --background: #E8EAF1;
}
.cool{
    position: relative;
    top: -30px;
    background-color:  #E8EAF1;
    // --background: #1b38a3;
    // border-radius: 20px;
    width: 90%;
    height: 100%!important;

}
.border-white {
    border: 2px solid rgb(241, 236, 236);
    border-radius: 50%;
    width: fit-content;
}
.border-blue {
    border: 3px solid #f00808;
    border-radius: 50%;
    width: fit-content;
}
ion-content {
    width: calc(100% + 20px);
    --padding-end: 20px !important;
  }
  
  ion-content::part(scroll) {
    margin-right: -20px;
  }
  ion-card{
    --background: #f9fafc;
  }
  .img-box {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    overflow: hidden;
}
.border-white {
    border: 3px solid #151921;
    border-radius: 50%;
    width: fit-content;
}
.border-blue {
    border: 3px solid #bf2d00;
    border-radius: 50%;
    width: fit-content;
}
// .ms{
//     --ion-background-color:rgba(255, 255, 255, 0);

// }
ion-button {
    // border-radius: 20px !important;
    --background: #f8fcfa;
    --background-hover: #e6490b;
    --background-activated: #f05112;
    --background-focused: #eb270d;
  
    --color: rgb(255, 17, 0);
  
    --border-radius: 0;
    --border-color: rgb(240, 14, 14);
    --border-style: solid;
    --border-width: 1px;
  
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  
    --ripple-color: rgb(245, 11, 11);
  
    --padding-top: 10px;
    --padding-bottom: 10px;
  }
  ion-header{
    --ion-background-color: #151921;

  }
  .cards{
    background-color: white;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    width: 75%;
}

.cardes{
    background-color: white;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    width: 28%;
    position: relative;
    top: 60%;
    left: 5%;
    z-index: 1;
}
.txt{
    padding: 5px;
}
#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 80%;
    // transform: translateY(-50%);
    //transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  #sidebar{
    background-color: #151921;
    width: 19%;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: auto;
    //margin-left: 100px;
   
  }
  .xs{
    padding: 15px;
  }
  .navbar{
    border-radius: 8px;
  }
  
  .xs{
    background-color: white;
   // border-radius: 8px;
  }
  .ct{
    padding: 10px;
    height: 75vh;
  }
  .li{
    font-size: 20px;
    font-weight: bold;
    color: white;
  }
  .active{
    background-color: white;
    border-radius: 5px;
    padding: 8px;
    color: black;
    width: 100%;
  }
  
  span{
    font-size: 30px!important;
  }
  
  #icon {
    transform: rotate(15deg);
  }
  
  #container {
    position: relative;
    width: 50px;
    height: 50px;
  }
  #icon {
    position: absolute;
    // font-size: 30px;
    color: blue;
  }
  .custom-icon {
    font-size: 1.8rem; /* ou une autre valeur selon vos besoins */
  }
  .custom {
    font-size: 1.8rem!important; /* ou une autre valeur selon vos besoins */
  }
  .number{
    position: absolute;
    left: 80%;
    top: 10%;
    padding: 2px;
    border-radius: 100%;
    background-color: red;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #number {
    font-weight: bold;
    font-size: 20px;
    color: white;
    margin-bottom: 10%;
  }
  
  #container {
    animation: rotation 2s linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(30deg);
    }
  }
  
  .signe{
    height: 15px;
    width: 15px;
    background-color: blue;
    border-radius: 100%;
  }
  .txt{
    font-size: 20px;
    color: blue;
  }
  .content-notif{
    overflow: auto;
    height: 400px;
  }
  
  .bl:hover::after {
    content: "Appuyer pour marquer comme lu";
    color: red;
    position: relative;
    margin-top: 25px;
    right: 15%;
  }
  
  
  
  //pour le modale de la modifiaction du profil
  .body{
    // width: 100%;
    // height: 450px;
    padding: 10px;
  }
  
  .f-part{
    background-color: white;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.8)!important;
  }
  .trait{
    border: 2px solid blue;
    width: 300px;
  }
  .form-control{
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6)!important;
  }
  .msg{
    padding: 5px;
    border-radius: 5px;
    background-color: #EB8024;
  }
  
  .lgo{
    background-image: url("/assets/memories.png");
    background-size: 195px;
    background-repeat: no-repeat;
    
   
    position: relative;
    top: 20px;
    left: -30px;
    
  }
  
  .dec
  {
    padding: 10px;
    background-color: red;
    border-radius: 10px;
  }
  .nav-link {
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;
  }
  
  .nav-link:hover {
    background-color: white;
    color: black;
    border-radius: 20px;
  }