<!-- l'appel du menu dans les autres page -->
<!-- <ion-header>
  <ion-toolbar>
      <ion-title>Menu</ion-title>
      <ion-button slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-button>
  </ion-toolbar>
</ion-header> -->
<ion-content >
  <div class="container-fluid" style="background-color: #E6EAF1; margin-left: 10px;">
    <div class="container-fluid" style="overflow: hidden; background-color: #E6EAF1; margin-left: 10px;">
        <div class="row flex-nowrap" style="background-color: #E6EAF1;" >
            <div id="sidebar" class="col-auto sidebar mx-auto collapse collapse-horizontal show"
                style="height: 96vh;" >
      
                <div class="col mt-2 mb-2 mx-4" >
                    <div class="lgo py-5 mx-2"></div>
                </div>
                <hr class="text-center" style="background-color: white;width: 90%; margin-left: auto;
                margin-right: auto;">




      
                <div class="li mt-3 mb-5 text-center">
      
                  <div class="nav-item mb-3"  style="position: relative;left: -18px;" >
                    <a class="nav-link" routerLink="/essay" style="font-family: 'Inika';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 26px;" > <ul> <ion-grid> <ion-row>
                      <ion-col size-xs="12" size-sm="2"><i class="bi bi-house mx-2"></i></ion-col>
                      <ion-col size-xs="12" size-sm="1"></ion-col>
                      <ion-col size-xs="12" size-sm="9">Accueil</ion-col>


                    </ion-row></ion-grid> </ul></a>
                  </div>
      
                  <div class="nav-item mb-3"  style="position: relative;left: -18px;">
                    <a class="nav-link" routerLink="/listeetudiant" style="font-family: 'Inika';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 26px;"><ul><ion-grid> <ion-row>
                      <ion-col size-xs="12" size-sm="2"><i class="bi bi-mortarboard"></i></ion-col>
                      <ion-col size-xs="12" size-sm="1"></ion-col>
                      <ion-col size-xs="12" size-sm="9">Soutenance</ion-col>


                    </ion-row></ion-grid></ul></a>
                  </div>
      
                  <div class="nav-item mb-3"  style="position: relative;left: -18px;">
                    <a class="nav-link" routerLink="/listeformation" style="font-family: 'Inika';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 26px;" ><ul> <ion-grid> <ion-row>
                      <ion-col size-xs="12" size-sm="2"><i class="bi bi-clipboard-data"></i></ion-col>
                      <ion-col size-xs="12" size-sm="1"></ion-col>
                      <ion-col size-xs="12" size-sm="9">Formations</ion-col>


                    </ion-row></ion-grid></ul></a>
                  </div>
                  <div class="nav-item mb-3"  style="position: relative;left: -18px;">
                    <a class="nav-link" routerLink="/resultat" style="font-family: 'Inika';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 26px;" ><ul> <ion-grid> <ion-row>
                      <ion-col size-xs="12" size-sm="2"><i class="bi bi-reception-4"></i></ion-col>
                      <ion-col size-xs="12" size-sm="1"></ion-col>
                      <ion-col size-xs="12" size-sm="9">Resultat</ion-col>


                    </ion-row></ion-grid></ul></a>
                  </div>
                
                
      
                  <div class="nav-item mb-5" style="position: relative;left: -18px;">
                    <a class="nav-link" routerLink="/critereinfo" style="font-family: 'Inika';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 26px;"><ul> <ion-grid> <ion-row>
                      <ion-col size-xs="12" size-sm="2"><i class="bi bi-list-check"></i></ion-col>
                      <ion-col size-xs="12" size-sm="1"></ion-col>
                      <ion-col size-xs="12" size-sm="9"> Les Criteres </ion-col>
                    </ion-row></ion-grid></ul></a>
                  </div>
                
      
                  <div class="nav-item mt-5" style="position:relative; top: 0px;">
                    <!-- deconnection -->
                    <a class="nav-link mx-auto d-block mt-5 dec" type="submit" (click)="es()" ><i class="bi bi-box-arrow-left"></i>  Deconnexion</a>
                  </div>
      
                </div>
      
      
                <!-- </div> -->
            </div>
            <main class="col container-fluid" style=" height: 100vh ; overflow: scroll; overflow-x: hidden; background-color: #E6EAF1;;">
      
                <div class="Container xs" style="background-color: #E6EAF1; height: 100vh; width: 100%;">
      
                  <nav class="navbar navbar py-1" style="background-color: white;height: 9vh ;border-radius: 5px;" >
      
                    <a href="#" class="sidebar-toggler flex-shrink-0" data-bs-toggle="collapse" style="position: relative
                    ;top: -10px;"
                        data-bs-target="#sidebar" aria-expanded="false"
                        aria-controls="collapseWidthExample">
                        <i class="bi bi-list fa-3x mx-2 custom" style="position: relative;top: 5px;"></i>
                    </a>
      
                    <form class="d-none d-md-flex mr-4" style="position: relative;top: -12px;">
            
                      <!-- // nom utilisateur  -->
                      <i type="submit" data-bs-toggle="modal" data-bs-target="#user" class="bi bi-person-circle fa-3x mx-5 custom" style="position: relative;top: 15px;"><span style="font-family: 'Inika';
                        font-style: normal;
                        font-weight: 900;
                        font-size: 17px!important;
                        line-height: 18px;
                        
                        color: #000000;">{{j}}</span></i>
      
                    </form>
                </nav>
                  
                <div class="container">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="card cardes py-2" style="display: flex; align-items: center;  justify-content: center;background-color: #151921;">
                        <i class="bi bi-mortarboard-fill custom-icon" style="color: white;" ></i>
                      </div>
                    </div>
              
                    <div class="col-md-3">
                      <div class="card cardes py-2" style="display: flex; align-items: center;  justify-content: center;background-color: rgb(5, 129, 82);">
                        <i class="bi bi-mortarboard-fill custom-icon" style="color: white;" ></i>
                      </div>
                    </div>
                    
                    <div class="col-md-3">
                      <div class="card cardes py-2" style="display: flex; align-items: center;  justify-content: center;background-color: rgb(211, 8, 8);">
                        <i class="bi bi-mortarboard-fill custom-icon" style="color: white;" ></i>
                      </div>
                    </div>
              
                    <div class="col-md-3">
                      <div class="card cardes py-2" style="display: flex; align-items: center;  justify-content: center;background-color: rgb(2, 123, 128);">
                        <i class="bi bi-mortarboard-fill custom-icon" style="color: white;" ></i>
                      </div>
                    </div>
                  </div>
              
                  <div class="row">
                    <div class="col-md-3 ">
                      <div class="card cards " style="height: 120px;">
                        <div class="row txt">
                          <div class="col-md-12 text-end"><h4 style="font-family: 'Inika';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 18px;
                            
                            color: #000000;">Soutenances</h4></div>
                          <div class="col-md-12 text-end" style="position: relative;top: -20px;"><h4 style="font-family: 'Inika';
                            font-style: normal;
                            font-weight: 900;
                            font-size: 20px;
                            line-height: 18px;
                            
                            color: #000000;">{{st}}</h4></div>
                        </div>
                        <div class="col"style="position: relative;top: -40px;">
                          <hr class="text-center" style="background-color: rgb(87, 81, 81);width: 90%; margin-left: auto;
                                  margin-right: auto;">
                        </div>
              
                        <div class="col"style="position: relative;top: -50px;">
                          <p style="font-family: 'Inika';
                          font-style: normal;
                          font-weight: 900;
                          font-size: 12px;
                          line-height: 18px;
                          
                          color: #000000;">info globale</p>
                        </div>
                      </div>
                    </div>
              
                    <div class="col-md-3 ">
                      <div class="card cards " style="height: 120px;">
                        <div class="row txt">
                          <div class="col-md-12 text-end"><h4 style="font-family: 'Inika';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 18px;
                            
                            color: #000000;">Etudiants</h4></div>
                          <div class="col-md-12 text-end" style="position: relative;top: -20px;"><h4 style="font-family: 'Inika';
                            font-style: normal;
                            font-weight: 900;
                            font-size: 20px;
                            line-height: 18px;
                            
                            color: #000000;">{{et}}</h4></div>
                        </div>
                        <div class="col"style="position: relative;top: -40px;">
                          <hr class="text-center" style="background-color: rgb(82, 76, 76);width: 90%; margin-left: auto;
                                  margin-right: auto;">
                        </div>
              
                        <div class="col"style="position: relative;top: -50px;">
                          <p style="font-family: 'Inika';
                          font-style: normal;
                          font-weight: 900;
                          font-size: 12px;
                          line-height: 18px;
                          
                          color: #000000;">info globale</p>
                        </div>



                      </div>
                    </div>
              
                    <div class="col-md-3 ">
                      <div class="card cards " style="height: 120px;">
                        <div class="row txt">
                          <div class="col-md-12 text-end"><h4 style="font-family: 'Inika';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 18px;
                            
                            color: #000000;">Formations</h4></div>
                          <div class="col-md-12 text-end" style="position: relative;top: -20px;"><h4 style="font-family: 'Inika';
                            font-style: normal;
                            font-weight: 900;
                            font-size: 20px;
                            line-height: 18px;
                            
                            color: #000000;">{{fo}}</h4></div>
                        </div>
                        <div class="col"style="position: relative;top: -40px;">
                          <hr class="text-center" style="background-color: rgb(104, 97, 97);width: 90%; margin-left: auto;
                                  margin-right: auto;">
                        </div>
              
                        <div class="col"style="position: relative;top: -50px;">
                          <p style="font-family: 'Inika';
                          font-style: normal;
                          font-weight: 900;
                          font-size: 12px;
                          line-height: 18px;
                          
                          color: #000000;">info globale</p>
                        </div>
                      </div>
                    </div>
              
                    <div class="col-md-3 ">
                      <div class="card cards " style="height: 120px;">
                        <div class="row txt">
                          <div class="col-md-12 text-end"><h4 style="font-family: 'Inika';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 18px;
                            
                            color: #000000;">Promotions</h4></div>
                          <div class="col-md-12 text-end" style="position: relative;top: -20px;"><h4 style="font-family: 'Inika';
                            font-style: normal;
                            font-weight: 900;
                            font-size: 20px;
                            line-height: 18px;
                            
                            color: #000000;">{{pro}}</h4></div>
                        </div>
                        <div class="col"style="position: relative;top: -40px;">
                          <hr class="text-center" style="background-color: rgb(116, 108, 108);width: 90%; margin-left: auto;
                                  margin-right: auto;">
                        </div>
              
                        <div class="col"style="position: relative;top: -50px;">
                          <p style="font-family: 'Inika';
                          font-style: normal;
                          font-weight: 900;
                          font-size: 12px;
                          line-height: 18px;
                          
                          color: #000000;">info globale</p>
                        </div>
                      </div>
                    </div>
              
                  </div>
                </div>
                <div class="row" style="margin-top: 30px;margin-left: 10px;margin-right: 10px;">
                  <div class="col-xl-12 col-sm-12 grid-margin stretch-card">
                    <div class="card" style="background-color: #fbfbfc ;box-shadow: 1px 6px 2px 0px ;">
                      <ion-select placeholder="Selectionner une soutenance"  (ionChange)="onFileSelected($event)">
                        <ion-select-option   *ngFor="let g of t ">{{g.nom}}</ion-select-option>
                        
                      </ion-select>
                      <div class="card-body">
                         <canvas id="MyChart">{{chart}}</canvas>
                
                
                
                      <div>
                
                      </div>
                      
                     </div> </div> </div> </div>
                
                     <div class="row" style="margin-left: 10px;margin-right: 10px;margin-top: 40px;margin-bottom: 20px; ">
                      <div class="col-xl-6 col-sm-6 grid-margin stretch-card">
                        <div class="card" style="background-color: white ;color: black;box-shadow: 1px 6px 2px 0px ;">
                          <div class="card-body" style="color: black; "  >
                            <!-- <ion-item> <h3>fatoumata</h3>
                            <h3>12/20</h3>
                            </ion-item> -->
                            <div style="display: flex;justify-content: center
                            ;">
                              <h3>criteres evaluation</h3></div>
                              <div style="display: flex;justify-content: center
                              ;">
                              <h2 >{{pk}}</h2> </div>
                              <div style="display: flex;justify-content: center
                              ;">
                              <ion-button color="dark" data-bs-toggle="modal" data-bs-target="#userwb">voir etudiant</ion-button>

                               </div>
                               
                           
                            
                          </div> </div> </div>
                            <div class="col-xl-6 col-sm-6 grid-margin stretch-card">
                              <div class="card" style="background-color: white;color: black;box-shadow: 1px 6px 2px 0px ;">
                                <div class="card-body" >
                                <div style="display: flex;justify-content: center
                                ;">
                                  <h3>jury</h3></div>
                                  <div style="display: flex;justify-content: center
                                  ;">
                                  <h2 >{{p}}</h2> </div>
                                  <div style="display: flex;justify-content: center
                                  ;">
                                  <ion-button color="dark" data-bs-toggle="modal" data-bs-target="#userw">voir plus</ion-button>
                                 </div>
                                </div> </div> </div>
                            
                           </div> 
                </div>
               

            </main>
        </div>

      </div>
     
      
      <!-- Le modal concernant les info de l'utilisateur -->
      <div class="modal fade" id="user" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog " role="document">
          <div class="modal-content mod">
            <div class="modal-header">
                    <div class="col-md-6">
                        <h5 class="title">Mon profil</h5>
                    </div>
      
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" >
      
               <!-- afficher info admin -->
              <div class="container" >
                <header class="jumbotron">
      
                  <h5>
                    <strong> Nom d'utilisateur: </strong> currentUser.username
                  </h5>
                  <h5>
                    <strong>Email:</strong>
                     liste.email 
                  </h5>
                  <h5>
                    <strong>Numero:</strong>
                     liste.numero
                  </h5>
                  <h5>
                    <strong>Adresse: </strong>
                     liste.adresse 
                  </h5>
                </header>
                <div class="text-end">
                  <button class="btn btn-outline-success text-center" data-bs-toggle="modal" data-bs-target="#profil"> Modifier</button>
                </div>
              </div>
            </div>
      
          </div>
        </div>
      </div>
      



      <div class="modal fade" id="userw" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog " role="document">
          <div class="modal-content mod">
            <div class="modal-header">
                    <div class="col-md-6">
                        <h5 class="title">info jury</h5>
                    </div>
      
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" >
      
               <!-- afficher info admin -->
               <div class="container">
                <div class="row" style="position: relative;top: 40px;">
                  <div class="table-responsive">
                    <table class="table" style="margin-bottom: 50px;">
                      <thead style="background-color: #151921;color: white;">
                        <tr >
                          <th scope="col" style="border-top-left-radius: 20px;">nom</th>
                          <th scope="col">date</th>
                          <th scope="col">heure de debut</th>
                          <th scope="col"  style="border-top-right-radius: 20px;">Action</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let m of pl ">
                          <td>{{m[0]}}</td>
                          <td>{{m[1]}}</td>
                          <td>{{m[2]}}</td>
                          <td>{{m[3]}}</td>
                          
                        </tr>
                      
                      </tbody>
                    </table>
                  </div>
                  </div></div>
            </div>
      
          </div>
        </div>
      </div>








      <div class="modal fade" id="userwb" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog " role="document">
          <div class="modal-content mod">
            <div class="modal-header">
                    <div class="col-md-6">
                        <h5 class="title">info Etudiants</h5>
                    </div>
      
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" >
      
               <!-- afficher info admin -->
               <div class="container">
                <div class="row" style="position: relative;top: 40px;">
                  <div class="table-responsive">
                    <table class="table" style="margin-bottom: 50px;">
                      <thead style="background-color: #151921;color: white;">
                        <tr >
                          <th scope="col" style="border-top-left-radius: 20px;">nom</th>
                          <th scope="col">date</th>
                          <th scope="col">heure de debut</th>
                          <th scope="col"  style="border-top-right-radius: 20px;">Action</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let m of pdi ">
                          <td>{{m[0]}}</td>
                          <td>{{m[1]}}</td>
                          <td>{{m[2]}}</td>
                          <td>{{m[3]}}</td>
                          
                        </tr>
                      
                      </tbody>
                    </table>
                  </div>
                  </div></div>
            </div>
      
          </div>
        </div>
      </div>
      
      <!-- la notif -->
      
      <div class="modal fade" id="notif" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog " role="document">
          <div class="modal-content">
            <div class="modal-header">
                    <div class="col-md-6">
                        <h5 class="title">Notification</h5>
                    </div>
      
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
      
      
              <div class="container content-notif">
                <!-- liste notification et modif -->
                <header  class="jumbotron" type="submit" >
                  <div class="">
                    <div class="mx-2 d-md-flex bl" >
                      <!-- etat=0 afficher non lu -->
                      <label class="signe" for=""></label>
                      <label class="mx-2 txt"> Non lue</label>
      
                    </div>
                    <h5>
                      <strong> liste.date </strong>
                    </h5>
                    <h5>
                        liste.message
                      </h5>
                  </div>
      
                </header>
              </div>
            </div>
      
          </div>
        </div>
      </div>
      
      
      <!-- pour la modification du profil -->
  </div>
 
</ion-content>